@charset "UTF-8";

/* 共通部分
------------------------------------- */
html {
  /* ユーザーの設定した文字サイズを正しく反映 */
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体",
    "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

img {
  /* 画像が親要素よりも大きくなることを防ぐ */
  max-width: 100%;
}
